<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>

  <input type="text" placeholder="Name" [(ngModel)]="name" />
  <button (click)="addName(name)">Add Name</button>

  <ng-container *ngIf="names.length > 0; else elseTemplate">
    <li style="list-style: none;">
      <ul *ngFor="let name of names; index as i">
        Position:
        {{
          i
        }}
        Name:
        {{
          name
        }}
        <button (click)="deleteName(i)">Delete Name</button>
      </ul>
    </li>
  </ng-container>
  <ng-template #elseTemplate>
    <p>Names array is empty</p>
  </ng-template>

  <input type="number" placeholder="Number" [(ngModel)]="power" />
  <strong>{{ power | exponential }}</strong>

  <div class="product-grid">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (eventAddCart)="productAddCart($event)"
    ></app-product>
  </div>
</div>
